@import "../../global.scss";

.feeds {
  @include themify($themes) {
    padding: 8px;
    transition: all ease 0.5s;
    .feed {
      background: themed("bg");
      color: themed("textColor");
      border-radius: var(--card-border-radius);
      padding: var(--card-padding);
      margin: 1rem 0;
      font-size: 0.85rem;
      line-height: 1.5;

      .head {
        display: flex;
        justify-content: space-between;
        .user {
          display: flex;
          gap: 1rem;

          .profile-photo {
            width: 2.7rem;
            aspect-ratio: 1/1;
            border-radius: 50%;
            overflow: hidden;

            img {
              display: block;
              width: 100%;
              aspect-ratio: 1/1;
              object-fit: cover;
            }
          }
        }
      }
      .content {
        p {
          font-size: 16px;
          font-weight: 300;
          margin: 12px 0px;
        }
        .photo {
          border-radius: var(--card-border-radius);
          overflow: hidden;
          margin: 0.7rem 0;

          img {
            display: block;
            width: 100%;
            max-height: 500px;
            object-fit: cover;
          }
        }
        .video {
          border-radius: var(--card-border-radius);
          overflow: hidden;
          margin: 0.7rem 0;
          video {
            display: block;
            width: 100%;
            max-height: 500px;
          }
        }
      }
      .action-button {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 1.4rem;
        margin: 0.6rem;
        .interaction-buttons {
          span {
            margin-left: 0.7rem;
            cursor: pointer;
          }
        }
        .bookmark {
          span {
            cursor: pointer;
          }
        }
      }
      .liked-by {
        display: flex;

        span {
          width: 1.4rem;
          height: 1.4rem;
          display: block;
          border-radius: 50%;
          overflow: hidden;
          border: 2px solid var(--color-white);
          margin-left: -0.6rem;

          &:first-child {
            margin: 0;
          }
        }
        p {
          padding: 0.4rem;
          font-size: 1rem;
        }
      }
      .text-muted {
        color: var(--color-gray);
      }
    }
  }
}
